################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApp2/.vs/WindowsFormsApp2/FileContentIndex/98252066-5065-4381-9506-6b908c495bf9.vsidx
