################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApp2/.vs/WindowsFormsApp2/FileContentIndex/98252066-5065-4381-9506-6b908c495bf9.vsidx
/WindowsFormsApp2/.vs/WindowsFormsApp2/FileContentIndex/68b922ab-34fd-45ae-82b5-d9f59e9f3afc.vsidx
*.vsidx
/WindowsFormsApp2/bin/Debug/registerDB.mdf
/WindowsFormsApp2/bin/Debug/registerDB_log.ldf
/WindowsFormsApp2/registerDB_log.ldf
/WindowsFormsApp2/registerDB.mdf
/project15/AdminDashboard/VendorDB_log.ldf
/project15/AdminDashboard/VendorDB.mdf
/project15/AdminDashboard/ConsultantDB.mdf
/project15/AdminDashboard/ConsultantDB_log.ldf
